.format{
    font-family: "polymath", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align:center;
    padding-top:100px;
    padding-left: 100px;
    padding-right: 100px;
    color:rgb(0, 0, 0)
}
h1{
    font-size:25px;
}
img{
    width:90%;
}